<div class = 'cover_container'>
	<img class = 'cover_image' src = 'static/img/aboutUs.jpg'>
</div>
<!-- <div>Brow Broutique provides an upscale, affordable, comforting, unique, and convenient threading salon and spa in SouthWest Fort Worth
</div> -->
<div id = 'offers'>
	<h3>BROW BOUTIQUE OFFERS:</h3>
	<ul id = 'b'>
		<li id = '' class = ''>Threading<i class = 'glyphicon glyphicon-asterisk'></i></li>
		<li class = ''>Waxing<i class = 'glyphicon glyphicon-asterisk'></i></li>
		<li class = ''>Facials<i class = 'glyphicon glyphicon-asterisk'></i></li>
		<li class = ''>Permanent Hair Straightening<i class = 'glyphicon glyphicon-asterisk'></i></li>
		<li class = ''>Eyelash/Eybrow Extensions<i class = 'glyphicon glyphicon-asterisk'></i></li>
		<li class = ''>Tint<i class = 'glyphicon glyphicon-asterisk'></i></li>
		<li class = ''>Perm</li>
	</ul>
</div>
<div id = 'map_location'>
	<div id = 'map' ng-controller='mapCtrl'>
		 <app-map style="height:250px;margin:12px;box-shadow:0 3px 25px black;"
	        center="loc"
	        markers="cities"
	    > 
	    </app-map>
	</div>
	<div id = 'location'>
		<ul>
			<li><strong>6215 Oakmont Blvd</strong></li>
			<li><strong>Fort Worth, TX</strong></li>
			<li>(In front of YouFit Gym,</li>
			<li>behind Marco's Pizza)</li>
		</ul>
	</div>
</div>

<div>
	<ul class = 'list-group '>
		<li class = 'list-group-item text-center'>HOURS</li>
		<li class = 'list-group-item text-center'>Monday-Friday: 10am to 8pm</li>
		<li class = 'list-group-item text-center'>Saturday-Sunday: 10am to 7pm</li>
	</ul>
</div>
<div>
	<ul class = 'list-group'>
		<li class = 'list-group-item text-center'>APPOINTMENT AND GROUPS</li>
		<li class = 'list-group-item text-center'>Appointments + walk-ins accepted based on availability. Please call (817) 710-3025</li>
		<li class = 'list-group-item text-center'>Please call or email to inquire about parties and private events</li>
	</ul>
</div>
<div style = 'margin:0 43%'>
	<a href = 'https://www.facebook.com/BrowBoutiqueHulen/'><img class = 'icons' src = '/static/img/facebook.jpg'><a>
	<a href = '#'><img class = 'icons' src = '/static/img/twitter.png'><a>
	<a href = 'https://www.instagram.com/browboutiquehulen/'><img class = 'icons' src = '/static/img/instagram.png'><a>
<div>