<div id = 'form' class = 'text-center'>
	<p>Fill contact information</p>
	<form>
		<input class = 'form_field' type = 'text' placeholder="Name:">
		<input class = 'form_field' type="text" placeholder="Email:" >
		<input class = 'form_field' type="text" placeholder="Phone number:" >
		<div class = 'form-group'>
			<select  class = 'form-control' id='sel1'>
				<option>Waxing</option>
				<option>Threading</option>
				<option>Waxing</option>
			</select>
		</div>
		<textarea class = 'form_field' placeholder= 'Comments'></textarea>
		<input  type="submit" value="Book Now">
	</form>
</div>

