<div class = 'cover_container'>
	<img class = 'cover_image' src = 'static/img/CoverImage.jpg' alt = 'coverImage'>
</div>
<div id = 'middle'>
	<ul id = 'circle_list'>
		 <li class = 'list_li'>
			<div class = 'circle'>
				<a href = '#!/services' class = 'circle_link'>
				<img src = 'static/img/servicesLogo.jpg' class = 'circle_img'>
				</a>
			</div>
			<p class = 'list_points'>Services</p>
		</li>
		<li class = 'list_li'>
			<a href = '#!/services'><div class = 'circle'>
				<img src = 'static/img/team.jpg' class = 'middle_img'>
			</div></a>
			<p class = 'list_points'>Talent</p>			
		</li>
		<li class = 'list_li'>
			<a href = '#!/services'><div class = 'circle'>
				<img src = 'static/img/styles.jpg' class = 'circle_img'>
			</div></a>
			<p class = 'list_points'>View Styles</p>
		</li>
	</ul>
</div>
<div id = 'offers'>
	<h3>BROW BOUTIQUE OFFERS:</h3>
	<ul id = 'b'>
		<li id = '' class = ''>Threading<i class = 'glyphicon glyphicon-asterisk'></i></li>
		<li class = ''>Waxing<i class = 'glyphicon glyphicon-asterisk'></i></li>
		<li class = ''>Facials<i class = 'glyphicon glyphicon-asterisk'></i></li>
		<li class = ''>Permanent Hair Straightening<i class = 'glyphicon glyphicon-asterisk'></i></li>
		<li class = ''>Eyelash/Eybrow Extensions<i class = 'glyphicon glyphicon-asterisk'></i></li>
		<li class = ''>Tint<i class = 'glyphicon glyphicon-asterisk'></i></li>
		<li class = ''>Perm</li>
	</ul>
</div>
<div id = 'map_location'>
	<div id = 'map' ng-controller='mapCtrl'>
		 <app-map style="height:250px;margin:12px;max-width: 300px"
	        center="loc"
	        markers="cities"
	    > 
	    </app-map>
	</div>
	<div id = 'location'>
		<ul>
			<li><strong>6215 Oakmont Blvd</strong></li>
			<li><strong>Fort Worth, TX</strong></li>
			<li>(In front of YouFit Gym,</li>
			<li>behind Marco's Pizza)</li>
			<li><a style = 'color: blue;' href = 'https://www.google.com/maps/dir//Brow+Boutique,+Oakmont+Boulevard,+Fort+Worth,+TX/@32.6621342,-97.438876,13z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x864e6d723885dee9:0x88678a87654e2dd8!2m2!1d-97.4038565!2d32.6620668' target ="_blank">Get Directions</a></li>
		</ul>
	</div>
</div>
<div>
	<ul class = 'list-group '>
		<li class = 'list-group-item text-center'>HOURS</li>
		<li class = 'list-group-item text-center'>Monday-Friday: 10am to 8pm</li>
		<li class = 'list-group-item text-center'>Saturday-Sunday: 10am to 7pm</li>
	</ul>
</div>
<div>
	<ul class = 'list-group'>
		<li class = 'list-group-item text-center'>APPOINTMENT AND GROUPS</li>
		<li class = 'list-group-item text-center'>Appointments + walk-ins accepted based on availability. Please call (817) 710-3025</li>
		<li class = 'list-group-item text-center'>Please call or email to inquire about parties and private events</li>
	</ul>
</div>
<div id = 'icons'>
	<a href = 'https://www.facebook.com/BrowBoutiqueHulen/'><img class = 'icons' src = '/static/img/facebook.jpg'><a>
	<!-- <a href = '#'><img class = 'icons' src = '/static/img/twitter.png'><a> -->
	<a href = 'https://www.instagram.com/browboutiquehulen/'><img class = 'icons' src = '/static/img/instagram.png'><a>
	<a href = 'https://www.yelp.com/biz/brow-boutique-fort-worth'><img class = 'icons' src = '/static/img/yelp.png'><a>
<div>