<div class = 'service_div'>
	<div class = 'service_img_container'>
		<img class = 'service_img' src = '/static/img/hair-straightening.jpg'>
	</div>
	<div class = 'services'>
		<h2> Hair Straightening Services</h2>
		<ul class = 'service_ul'>
			<li class = 'service_li'>
				<p class = 'service_name'>Keratin treatment</p>
				<p class = 'service_amount'>$200+</p>
			</li>
			<li class = 'service_li'>
				<p class = 'service_name'>Brazilian Blowout</p>
				<p>$250</p>
			</li>
			<li class = 'service_li'>
				<p class = 'service_name'>Eyelasher Perm</p>
				<p>$25</p>
			</li>
		</ul>
	</div>
</div>
<div class = 'service_div'>
	<div class = 'service_img_container'>
		<img class = 'service_img' src = '/static/img/eyebrows.jpg'>
	</div>
	<div class = 'services'>
		<h2> Eyebrow Services</h2>
		<ul class = 'service_ul'>
			<li class = 'service_li'>
				<p class = 'service_name'>Tinting</p>
				<p>$20+</p>
			</li>
			<li class = 'service_li'>
				<p class = 'service_name'>Extension</p>
				<p>$85</p>
			</li>
			<li class = 'service_li'>
				<p class = 'service_name'>Refills</p>
				<p>$40+</p>
			</li>
		</ul>
	</div>
</div>
<div class = 'service_div'>
	<div class = 'service_img_container'>
		<img class = 'service_img' src = '/static/img/eyelash.jpg'>
	</div>
	<div class = 'services'>
		<h2> Eyelash Services</h2>
		<ul class = 'service_ul'>
			<li class = 'service_li'>
				<p class = 'service_name'>Tinting</p>
				<p>$30+</p>
			</li>
			<li class = 'service_li'>
				<p class = 'service_name'>Extension</p>
				<p>$175</p>
			</li>
			<li class = 'service_li'>
				<p class = 'service_name'>Refills</p>
				<p></p>
			</li>
		</ul>
	</div>
</div>
<div class = 'service_div'>
	<div class = 'service_img_container'>
		<img class = 'service_img' src = '/static/img/facial.jpg'>
	</div>
	<div class = 'services'>
		<h2>Facials</h2>
		<ul class = 'service_ul'>
			<li class = 'service_li'>
				<p class = 'service_name'>Deep Clean Facial</p>
				<p>$45+</p>
			</li>
			<li class = 'service_li'>
				<p class = 'service_name'>Microdermabrasion</p>
				<p>$65</p>
			</li>
			<li class = 'service_li'>
				<p class = 'service_name'>Chemical Peel</p>
				<p>$60+</p>
			</li>
		</ul>
	</div>
</div>
<div class = 'service_div'>
	<div class = 'service_img_container overflow'>
		<img class = 'service_img' src = '/static/img/waxing.jpg'>
		<img class = 'service_img' src = '/static/img/arm-waxing.jpg'>
	</div>
	<!-- <div class = 'service_img_container'>
		<img class = 'service_img' src = '/static/img/arm-waxing.jpg'>
	</div> -->
	<div class = 'services'>
		<h2>Waxing</h2>
		<ul class = 'service_ul'>
			<li class = 'service_li'>
				<p class = 'service_name'>Full Back</p>
				<p>$25</p>
			</li>
			<li class = 'service_li'>
				<p class = 'service_name'>Full Body</p>
				<p>$75+</p>
			</li>
			<li class = 'service_li'>
				<p class = 'service_name'>Bikini</p>
				<p>$25</p>
			</li>
			<li class = 'service_li'>
				<p class = 'service_name'>Full Legs</p>
				<p>$30</p>
			</li>
			<li class = 'service_li'>
				<p class = 'service_name'>Under Arms</p>
				<p>$12</p>
			</li>
			<li class = 'service_li'>
				<p class = 'service_name'>Full Arms</p>
				<p>$20</p>
			</li>
			<li class = 'service_li'>
				<p class = 'service_name'>Half Arms</p>
				<p>$20</p>
			</li>
			<li class = 'service_li'>
				<p class = 'service_name'>Full Face</p>
				<p>$25</p>
			</li>
			<li class = 'service_li'>
				<p class = 'service_name'>Upper Lips</p>
				<p>$40</p>
			</li>
		</ul>
	</div>
</div>
<div class = 'service_div'>
	<div class = 'service_img_container'>
		<img class = 'service_img' src = '/static/img/threading.jpg'>
	</div>
	<div class = 'services'>
		<h2>Threading</h2>
		<ul class = 'service_ul'>
			<li class = 'service_li'>
				<p class = 'service_name'>Full Face</p>
				<p>$12</p>
			</li>
			<li class = 'service_li'>
				<p class = 'service_name'>Sideburns</p>
				<p>$12</p>
			</li>
			<li class = 'service_li'>
				<p class = 'service_name'>Chin</p>
				<p>$6</p>
			</li>
			<li class = 'service_li'>
				<p class = 'service_name'>Upper Lips</p>
				<p>$6</p>
			</li>
		</ul>
	</div>
</div>


